<section class="blog">
    <h2 class="blog__title title">Блог</h2>
    <div class="blog__inner">
        <div class="blog__item">
            <img class="blog__item-img" src="../images/blog/blog-git.avif" alt="git">
            <h4 class="blog__item-title">Git: що це таке та як це працює</h4>
            <p class="blog__item-info">Git - це система керування версіями, яка дозволяє розробникам зберігати
                та керувати історією змін свого коду...</p>
        </div>
        <div class="blog__item">
            <img class="blog__item-img" src="../images/blog/blog-gpt.avif" alt="git">
            <h4 class="blog__item-title">Що таке Chat GPT?</h4>
            <p class="blog__item-info">Штучний інтелект (AI) стає все більш розповсюдженим в нашому світі, і
                Chat GPT - це одна з найновіших інновацій...</p>
        </div>
        <div class="blog__item">
            <img class="blog__item-img" src="../images/blog/blog-code.avif" alt="git">
            <h4 class="blog__item-title">Як створювати ефективний та швидкий код</h4>
            <p class="blog__item-info">Створення ефективного та швидкого коду є важливим завданням для
                будь-якого розробника програмного...</p>
        </div>
        <div class="blog__item blog__item-mobile">
            <a class="blog-mobile__btn" href="#">Всi статтi</a>
        </div>
    </div>
    <a class="blog__button" href="#">Всi статтi</a>

</section>