<section class="direction">
    <h2 class="direction__title title">Обирай напрямок</h2>
    <div class="direction__inner">
        <a class="direction__item" href="#" target="_blank">
            <img class="direction__item-img" src="../images/dir/js-dir.webp" alt="programming-language_logo">
            <div class="direction__item-info">
                <h5 class="direction__item-descr">Мова програмування</h5>
                <h4 class="direction__item-title">JavaScript</h4>
            </div>
        </a>
        <a class="direction__item" href="#" target="_blank">
            <img class="direction__item-img" src="../images/dir/java-dir.webp" alt="programming-language_logo">
            <div class="direction__item-info">
                <h5 class="direction__item-descr">Мова програмування</h5>
                <h4 class="direction__item-title">Java</h4>
            </div>
        </a>
        <a class="direction__item" href="#" target="_blank">
            <img class="direction__item-img" src="../images/dir/cs-dir.avif" alt="programming-language_logo">
            <div class="direction__item-info">
                <h5 class="direction__item-descr">Мова програмування</h5>
                <h4 class="direction__item-title">C#</h4>
            </div>
        </a>
        <a class="direction__item" href="#" target="_blank">
            <img class="direction__item-img" src="../images/dir/py-dir.webp" alt="programming-language_logo">
            <div class="direction__item-info">
                <h5 class="direction__item-descr">Мова програмування</h5>
                <h4 class="direction__item-title">Python</h4>
            </div>
        </a>
        <a class="direction__item" href="#" target="_blank">
            <img class="direction__item-img" src="../images/dir/c++-dir.webp" alt="programming-language_logo">
            <div class="direction__item-info">
                <h5 class="direction__item-descr">Мова програмування</h5>
                <h4 class="direction__item-title">C++</h4>
            </div>
        </a>
        <a class="direction__item" href="#" target="_blank">
            <img class="direction__item-img" src="../images/dir/kotl-dir.webp" alt="programming-language_logo">
            <div class="direction__item-info">
                <h5 class="direction__item-descr">Мова програмування</h5>
                <h4 class="direction__item-title">Kotlin</h4>
            </div>
        </a>

    </div>
    <div class="direction__btn btn">
        <a class="direction__button button" href="../direction.html">Всі напрямки</a>
    </div>
</section>