<ul class="header__menu">
    <li class="header__menu-item">
        <a class="header__menu-link header__menu-dropdown" href="#">
            Курси 
        </a>
        <ul class="header__secondmenu">

            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Мови програмування
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Python
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Java
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Web розробка  
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    JavaScript
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Android розробка 
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    C++
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    C#
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Kotlin
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    PHP
                </a>
            </li>
        </ul>
    </li>
    <li class="header__menu-item">
        <a class="header__menu-link" href="#">
            Блог
        </a>
    </li>
    <li class="header__menu-item">
        <a class="header__menu-link" href="#">
            Контакти
        </a>
    </li>
</ul>
<div class="mobile-menu">
    <span class="mobile-menu__line "></span>
    <span class="mobile-menu__line "></span>
    <span class="mobile-menu__line "></span>
</div>

<ul class="header__mobile">
    <li class="header__mobile-item header__mobile-dropdown">
        <a class="header__mobile-link " href="#">
            Курси 
        </a>
        <ul class="header-mobile__secondmenu">

            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Мови програмування
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Python
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Java
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Web розробка  
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    JavaScript
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Android розробка 
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    C++
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    C#
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    Kotlin
                </a>
            </li>
            <li class="header__secondmenu-item">
                <a class="header__secondmenu-link" href="#">
                    PHP
                </a>
            </li>
        </ul>
    </li>
    <li class="header__mobile-item">
        <a class="header__mobile-link" href="#">
            Блог
        </a>
    </li>
    <li class="header__mobile-item">
        <a class="header__mobile-link" href="#">
            Контакти
        </a>
    </li>
</ul>