<section class="popular-courses">
    <h2 class="popular-courser__title title">Популярні курси</h2>
    <div class="popular-courses__inner">



        <a class="popular-courses__link" href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/python2.avif" alt="js">
                <div class="popular-courses__item-box item-js">
                    <h5 class="popular-courses__item-title">Python</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <div class="popular-courses__box">
                        <p class="popular-courses__item-text">Детальніше</p>
                        <img class="popular-courses__icon" src="../images/pop-courses/icons/python.webp" alt="py">
                    </div>
                </div>
            </div>
        </a>

        <a class="popular-courses__link" href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/python2.avif" alt="js">
                <div class="popular-courses__item-box item-js">
                    <h5 class="popular-courses__item-title">Python</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <div class="popular-courses__box">
                        <p class="popular-courses__item-text">Детальніше</p>
                        <img class="popular-courses__icon" src="../images/pop-courses/icons/python.webp" alt="py">
                    </div>
                </div>
            </div>
        </a>

        <a class="popular-courses__link" href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/python2.avif" alt="js">
                <div class="popular-courses__item-box item-js">
                    <h5 class="popular-courses__item-title">Python</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <div class="popular-courses__box">
                        <p class="popular-courses__item-text">Детальніше</p>
                        <img class="popular-courses__icon" src="../images/pop-courses/icons/python.webp" alt="py">
                    </div>
                </div>
            </div>
        </a>
        <a class="popular-courses__link" href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/python2.avif" alt="js">
                <div class="popular-courses__item-box item-js">
                    <h5 class="popular-courses__item-title">Python</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <div class="popular-courses__box">
                        <p class="popular-courses__item-text">Детальніше</p>
                        <img class="popular-courses__icon" src="../images/pop-courses/icons/python.webp" alt="py">
                    </div>
                </div>
            </div>
        </a>


        <a class="popular-courses__link" href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/python2.avif" alt="js">
                <div class="popular-courses__item-box item-js">
                    <h5 class="popular-courses__item-title">Python</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <div class="popular-courses__box">
                        <p class="popular-courses__item-text">Детальніше</p>
                        <img class="popular-courses__icon" src="../images/pop-courses/icons/python.webp" alt="py">
                    </div>
                </div>
            </div>
        </a>


        <a class="popular-courses__link" href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/python2.avif" alt="js">
                <div class="popular-courses__item-box item-js">
                    <h5 class="popular-courses__item-title">Python</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <div class="popular-courses__box">
                        <p class="popular-courses__item-text">Детальніше</p>
                        <img class="popular-courses__icon" src="../images/pop-courses/icons/python.webp" alt="py">
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="popular-courses__button btn">
        <a class="popular-courses__btn button" href="#">Всі курси</a>
    </div>
</section>