<section class="popular-courses">
    <h2 class="popular-courser__title title">Популярні курси</h2>
    <div class="popular-courses__inner">
        <a href="../python.html">
            <div class="popular-courses__item" href="#"> <img class="popular-courses__item-img" src="../images/pop-courses/python.avif"
                alt="phyton">
            <div class="popular-courses__item-box item-py">
                <h5 class="popular-courses__item-title">Python</h5>
                <span class="popular-courses__item-author">Автор: Школа програмування</span>
                <p class="popular-courses__item-lessons">20 уроків</p>
                <p class="popular-courses__item-views">3.5k</p>
                <a class="popular-courses__item-btn " href="#">Детальніше</a>
            </div>
        </div>
        </a>
        <a href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/java.avif" alt="java">
                <div class="popular-courses__item-box item-java">
                    <h5 class="popular-courses__item-title">Java</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <a class="popular-courses__item-btn" href="#">Детальніше</a>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/js.avif" alt="js">
                <div class="popular-courses__item-box item-js">
                    <h5 class="popular-courses__item-title">JavaScript</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <a class="popular-courses__item-btn " href="#">Детальніше</a>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/kotlin.avif" alt="kotlin">
                <div class="popular-courses__item-box item-kot">
                    <h5 class="popular-courses__item-title">Kotlin</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <a class="popular-courses__item-btn " href="#">Детальніше</a>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/cs.avif" alt="cs">
                <div class="popular-courses__item-box item-cs">
                    <h5 class="popular-courses__item-title">C#</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <a class="popular-courses__item-btn " href="#">Детальніше</a>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="popular-courses__item">
                <img class="popular-courses__item-img" src="../images/pop-courses/php.avif" alt="php">
                <div class="popular-courses__item-box item-php">
                    <h5 class="popular-courses__item-title">PHP</h5>
                    <span class="popular-courses__item-author">Автор: Школа програмування</span>
                    <p class="popular-courses__item-lessons">20 уроків</p>
                    <p class="popular-courses__item-views">3.5k</p>
                    <a class="popular-courses__item-btn " href="#">Детальніше</a>
                </div>
            </div>
        </a>
    </div>
    <div class="popular-courses__button btn">
        <a class="popular-courses__btn button" href="#">Всі курси</a>
    </div>
</section>